.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 54px;
    width: 72px; 
    font-family: roboto,arial;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(205, 204, 204, 0.833);
    padding-bottom: 10px;
    z-index: 200;
    background-color: white;
    
}
.sidebar img{
     height: 24px;
     padding-top: 20px;
}
.sidebar div{
    font-size: 10px;
}
.sidebar_link1,
.sidebar_link2,
.sidebar_link3,
.sidebar_link4,
.sidebar_link5,
.sidebar_link6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 113px;
    margin-bottom: 1px;
    cursor: pointer;  
}
.home_tooltip
,.Explore_tooltip,
.Subscriptions_tooltip,
.Originals_tooltip,
.YoutubeMusic_tooltip,
.Library_tooltip{
    color: white;
    background-color: gray;
    margin-left: 120px;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    font-family: roboto,arial;
}
.sidebar_link1:hover .home_tooltip,
.sidebar_link2:hover .Explore_tooltip,
.sidebar_link3:hover .Subscriptions_tooltip,
.sidebar_link4:hover .Originals_tooltip,
.sidebar_link5:hover .YoutubeMusic_tooltip,
.sidebar_link6:hover .Library_tooltip
{
    opacity: 1;
}
.Subscriptions_tooltip
{
    margin-left: 150px;
}
.YoutubeMusic_tooltip{
    white-space: nowrap;
    margin-left: 160px;
}
