
.thumbnail-row{
    width: 100%;
    margin-bottom: 12px;
    position: relative;
    
}
.thumbnail{
    width: 100%;
}
.vid-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channelpic{
    width: 40px;
    border-radius: 50px;

}
.title{
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.author{
     color: rgb(96, 96, 96);
     margin-bottom: 4px;
}
.video-stats{
    color: rgb(96, 96, 96);
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
.time{
    position: absolute;
    color: white;
    background-color: black;
    right: 5px;
    bottom: 10px;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
}
.video-title-link{
    text-decoration: none;
    color: black;
}